div {
    background-color: #ccc;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    float: left;
}
/* box-shadow: x축 이동거리 y축 이동거리 퍼짐정도 색상; */
.box1{
    box-shadow: 5px 5px 20px black;
}

.box2{
    box-shadow: 0px 0px 20px dodgerblue,
    5px 5px 20px blue;
}

.box3{
    box-shadow: 10px 10px 0px crimson;
    /* same as 10px 10px crimson; */
}

.box4{
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.9);
}

.box5{
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.26);
}

.box6{
    box-shadow: inset 0px 0px 100px black;
}