.parent {
    border: 1px solid red;
    width: 600px;
    height: 200px;
}

.child {
    border: 1px solid blue;
    width: 100px;
    height: 50px;
}

.box {
    border: 1px solid red;
    width: 400px;
    height: 400px;
}

/* > is child selector */
.box > div{
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    padding: 40px;
    /* padding을 주더라도 처음 지정한 width와 height 유지하도록 하는 attribute  */
    box-sizing: border-box;
}

/* space is descendent selector */
.box > div div {
    width: 50px;
    height: 50px;
    background-color: #000;
}