body {
    font-size: 15px;
    line-height: 1.6em;
}

h1{
    font-weight: normal;
    color: blue;
    text-decoration: overline;
}

a {
    text-decoration: none;
}

p.text{
    font-weight: bold;
    font-style: italic;
    color: rgba(0,255,0, 0.5)
}

p.hello {
    text-transform: capitalize;
}