.parent {
    background-color: dodgerblue;
    width: 600px;
    height: 300px;
    position: relative;
}

.child {
    background-color: crimson;
    width: 200px;
    height: 50px;
    position: absolute;
    /* 아래의 속성은 position 속성이 있어야지 작동함 */
    right: 0;
    bottom: 0;
}

.parent1 {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}

.parent1 div {
    position: absolute;
    background-color: dodgerblue;
    width: 100px;
    height: 100px;
}

.child2 {
    bottom: 0;
}

.child3 {
    right: 0;
    bottom: 0;
}

.child4 {
    right: 0;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent1 article {
    position: absolute;
    background-color: gold;
    width: 100px;
    height: 100px;
}

.a1 {
    left: 100%;
}

.a2 {
    top: 100%;
    left: 100%;
}

.a3 {
    top: 100%;
}